@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

:root {
  --color-primary: #17cf54;
  --color-secondry: #124322;
  --background-color: #112116;
  --border-color: #123e20;
  --color-background: #ffff;
  --color-background-secondary: #f0f0f0;
  --color-border: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}
